.App {
  text-align: center;
}

p {
  font-size: 16px;
  color: #555555;
}

.App-header {
  background-color: #44000B;
  min-height: 500px;
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center !important;
}

.header-image {
  min-height: 444px;
  box-shadow: 0 2px 8px 4px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-header-image {
  background: url("../src/img/h1.png") no-repeat;
  background-size: cover;
  background-position: center top;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.music-header-image {
  background: url("../src/img/g2.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.art-header-image {
  background: url("../src/img/d1.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.writing-header-image {
  background: url("../src/img/w1.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.programming-header-image {
  background: url("../src/img/p1.jpg") no-repeat;
  background-size: cover;
  background-position: center top;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.contact-header-image {
  background: url("../src/img/h1.png") no-repeat;
  background-size: cover;
  background-position: center top;
    -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.navbar {
  position: absolute !important;
  left: 50%;
  transform: translatex(-50%);
}

.navigation-link {
  color: #ebebeb;
  text-decoration: none;
  padding: 25px;
  display: inline-block;
  min-width: 120px;
  max-width: 120px;
  text-align: center;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  margin-top: 6px;
}

.navigation-link:hover {
  color: #a44f5c;
  text-decoration: none !important;
}

.navigation-link:active {
  color: #a44f5c;
}

.navigation-link-hide {
  display: none;
}

.nav-link-active {
  color: #a44f5c;
}

.collapse-button-area {
  display: none;
}

.collapse-button {
  border: none;
  background: none;
  color: #ebebeb;
  cursor: pointer;
  outline: none;
}

.active {
  color: #a44f5c;
}

.navbar-brand {
  color: #ebebeb;
}

.navbar-brand:hover {
  color: #a44f5c;
}

.navbar-brand:active {
  color: #a44f5c;
}

.App-content {
  color: #220005;
  position: absolute;
  padding-top: 23px;
  width: 100%;
}

.doc-link {
  color: #220005;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  padding: 20px 30px 20px 30px;
  border: 1px solid #bdbaba;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}

.doc-link:hover {
  color: #a44f5c;
  border: 1px solid #a44f5c;
}

.doc-link:active {
  color: #220005;
}

.doc-text {
  color: #220005;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.doc-text:hover {
  color: #a44f5c;
  text-decoration: none;
}

.doc-text:active {
  color: #220005;
}

.doc-text-link {
  position: relative;
  top: 60px;
}

nav {
  min-height: 86px;
}

.thumbnail {
  border: 1px solid #000000;
  width: 15em;
  image-orientation: from-image;
}

@media (max-width: 767px) {
  .collapse-button-area {
    display: block;
    padding: 25px;
  }

  .collapse-menu {
    max-height: 0;
    transition: max-height 1s ease-out;
    overflow: hidden;
  }

  .expand-menu {
    max-height: 500px;
    transition: max-height 1s ease-in;
    overflow: hidden;
  }

  .nav-link {
    display: block;
  }

  #navMenu {
    text-align: center;
    padding-left: 34%;
    padding-right: 34%;
  }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}